/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();


// TESTING
// Color system

// $white:     #fff;
// $gray-base: #3c4b64;
// $gray-100:  #ebedef;
// $gray-200:  #d8dbe0;
// $gray-300:  #c4c9d0;
// $gray-400:  #b1b7c1;
// $gray-500:  #9da5b1;
// $gray-600:  #8a93a2;
// $gray-700:  #768192;
// $gray-800:  #636f83;
// $gray-900:  #4f5d73;
// $black:     #000015;

// $grays: (
//   "100": $gray-100,
//   "200": $gray-200,
//   "300": $gray-300,
//   "400": $gray-400,
//   "500": $gray-500,
//   "600": $gray-600,
//   "700": $gray-700,
//   "800": $gray-800,
//   '900': $gray-900,
// );
// $blue:    #0d6efd;
// $indigo:  #6610f2;
// $purple:  #6f42c1;
// $pink:    #d63384;
// $red:     #dc3545;
// $orange:  #fd7e14;
// $yellow:  #ffc107;
// $green:   #198754;
// $teal:    #20c997;
// $cyan:    #0dcaf0;

// $dark-dark:      $gray-900;
// $dark:           $gray-900;
// $dark-50:        shift-color($dark, -70);
// $dark-25:        shift-color($dark, -80);
// $my-new-dark-theme: mat.define-palette(mat.$gray, 800);
$my-primary: mat.define-palette(mat.$orange-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
//    primary: $my-primary,
    primary: mat.define-palette(mat.$deep-purple-palette),
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

$my-theme-dark:mat.define-dark-theme((
    color:(
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    )
));
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$deep-purple-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));
.theme-dark{
    // @include mat.all-component-colors($my-theme-dark);
    @include mat.all-component-colors($dark-theme);
}

.theme-light{
    @include mat.all-component-colors($my-theme);
}

@include mat.all-component-colors($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
