<div style="margin: 2rem;">
    <h1 style="text-align: center;">Please enter fullscreen mode to continue quiz.</h1>
    <!-- <button mat-raised-button  color="primary" (click)="onNoClick()"  style="font-size: 20px !important">Enter Fullscreen Mode</button> -->
    <div class="d-flex justify-content-center">
        <button style="text-align: center;" mat-raised-button color="primary" (click)="onNoClick()" >Enter Fullscreen Mode</button>
    </div>
    <h1>Overall Performance</h1>
  <div style="width:100%;">
    <canvas id="canvas">{{chart}}</canvas>
  </div>
</div>
