<!-- <app-student-navigation></app-student-navigation> -->
<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Announcements</a>
        <a mat-list-item href="#">Enrolled Courses</a>
        <a mat-list-item href="#">Quiz</a>
        <a mat-list-item href="#">My Profile</a>
        <a mat-list-item href="#">Settings</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>CloudEduTrack - Student</span>
        <span class="example-spacer"></span>
        <mat-slide-toggle [formControl]="toggleControl">Dark Mode</mat-slide-toggle>
      </mat-toolbar>
      
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  <router-outlet></router-outlet>

